@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-light-color: #f1e9e2;
    --secondary-light-color: rgb(139,133,126);
  
    --primary-dark-color: #2e2e2d;
    --secondary-dark-color: rgb(106,72,37);
    --third-dark-color: #f0f0f0;
  }

  * {
      border: 1px solid transparent;
      
  }



body {
    margin: 1.5em;
    font-family: "Space Mono", "Helvetica Neue", Sans-serif;
    color: var(--primary-dark-color);
    background-color: var(--primary-light-color);
    
}

a {
    text-decoration: none;
    font-size: 1.3rem;
    
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    background: var(--primary-dark-color);
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform 0.7s ease-in-out;
    text-align: center;

    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 8em;
        

        a {
            color: var(--primary-light-color);
            padding: .75em;
            display: block;
            width: auto;
            text-align: center;
        }
    }

    .close {
        float: right;
        margin: 2em;
        width: 2em;
        margin-top: 1.5em;
        margin-right: 2em;
        cursor: pointer;
        stroke: none;

        path {
            fill: var(--primary-light-color);
        }
        
    }

}

header {
    display: flex;
    justify-content: space-between;

    svg {
        width: 2em;
        margin-top: -.6em;
        cursor: pointer;

        stroke: none;
        path {
            fill: var(--primary-light-color);
        }
    }

    
}

h1 {
    font-size: 2.4rem;
    margin-top: 0.5em;
    line-height: 3.3rem;
}

.logo {
    color: var(--primary-light-color);
    
}

.hero-section {
    color: var(--primary-light-color);
    height: 90vh;
    margin-top: 8em;

    .down-arrow {
        stroke: var(--primary-dark-color);
        position: absolute;
        bottom: 2em;
        right: 2em;
        width: 2em;

        path {
            fill: var(--primary-light-color);
        }
    }
}


.hero-name {
    text-transform: uppercase;
    font-weight: normal;
    span {
        margin-right: -0.3em;
    }
    
}

.hero-name-underline {

    margin-top: -50px;
    transform: translateX(0);
    position: relative;
    display: block;
    width: auto;
    height: auto;
    background: none;
    animation: line-appear 4s forwards;
    animation-delay: 0.2s;
    
    canvas {
        border: 2px solid var(--primary-light-color);
        width: 375px;
        height: 0px;

    }
    
}

.hero-desc {
    font-weight: normal;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/coder.jpeg);
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    animation: introload 2s forwards;
}

.subhead {
    font-size: 1.2rem;
    max-width: 450px;
}

.section-title {
    margin-bottom: 2rem;
    font-size: 5em;
    letter-spacing: -0.2rem;
};

.more-info {

    img {
        width: 100%;
        object-fit: cover;
        height: 15em;
    }

    .title {
        font-weight: bold;
        font-size: 1.25rem;
    }
    .desc {
        line-height: 1.5rem;
    }
}

.open-nav {
    transform: translateX(0);
}

.form-container {
    max-width: 700px;
    background-color: rgba(139,133,126, 0.2);
    margin: auto;

    .flex-outer {
        padding-inline-start: 0px;
    }

    form {
        margin: 0 1em;

    }
    
}

.form-input::-webkit-input-placeholder {
    font-family: "Space Mono", "Helvetica Neue", Sans-serif;
    font-size: 0.65rem;
  }
  
  .form-input:-ms-input-placeholder {
    font-family: "Space Mono", "Helvetica Neue", Sans-serif;
    font-size: 0.65rem;
  }
  
  .form-input:-moz-placeholder {
    font-family: "Space Mono", "Helvetica Neue", Sans-serif;
    font-size: 0.65rem;
  }
  
  .form-input::-moz-placeholder {
    font-family: "Space Mono", "Helvetica Neue", Sans-serif;
    font-size: 0.65rem;
  }


.flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    label {
        flex: 1;
        max-width: 15em;
        font-weight: bold;
        font-size: 1.15rem;
    }

    button {
        font-family: inherit;
        margin-top: 0.5rem;
        margin-left: auto;
        padding: 8px 16px;
        border: none;
        background: var(--primary-dark-color);
        color: var(--primary-light-color);
        text-transform: uppercase;
        letter-spacing: .09em;
        border-radius: 2px;
    }
}

.footer-container {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background: var(--primary-dark-color);
    opacity: 0.9;

    a{
        color: var(--primary-light-color);
    }
}



/*********************************** Media query for tablet devices ***********************************/
@media only screen and (min-width: 680px) {

    body {
        margin: 1.5em 5em;
    }
    
    .more-info {
        
        margin-top: -2em;
        
        img {
            margin-bottom: 3rem;
            
        }

        .desc {
            margin-top: -0.5em;
        }
    }


    
}

/*********************************** Media query for desktop devices ***********************************/
@media only screen and (min-width: 1028px) {

    .main-container {
        width: 85vw;
        margin: 0 auto;
        
    }

    .hero-name-underline {
        
        canvas {
            border: 2px solid var(--primary-dark-color);

        }
        
    }

    .menu {
        display: none;
    } 
    
    nav {
        transform: translateX(0);
        position: relative;
        right: 6em;
        display: block;
        width: auto;
        height: auto;
        background: none;

        .close {
            display: none;
        }

        ul {
            display: flex;
            margin: 0 auto;

            a {
                color: var(--primary-light-color);
                padding: .5em 1.5em;
                margin: 0 auto;
                font-size: .9rem;

                &:hover {
                    background:none;
                    //text-decoration: underline;
                }
            }
        }
    }

   .hero-section {
       color: var(--primary-dark-color);
       height: auto;
       width: 60vw;
       margin-bottom: 20em;
   }

    .hero-img {
        left: unset;
        right: 0;
        width: 50%;
        height: 65em;
    }

    .logo {
        color: var(--primary-dark-color);
    }

    .feature {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 4em;
        margin-bottom: 8em;
        margin: 2em auto;
        align-items: stretch;
        

        img {
            width: 25em;
            position: relative;
            margin: 1em auto;

        }

        .content {
            text-align: right;
            width: 25em;
            margin: 0 auto;
            
        }
    }

    .feature.reverse {
        grid-template-areas: "left right";

        img {
            grid-area: left;
            
        }

        .content {
            text-align: left;
            width: 25em;
            justify-self: left;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .main-container {
        width: 70vw;
        margin: 0 auto;
        
    }

    .feature {
        gap: 0;
    }

}

/******************************** Animations ********************************/

@keyframes introload {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes line-appear {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    to {
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
}


.down-arrow {
    animation: bounce 1s infinite;
}

.logo {
    display: inline-block;
    
    animation: pulse 3s infinite;
}

.hero-text {
    animation: fadeInUp 2s;

}


.hero-name:hover {
    animation: headShake 2s;
    
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-light-color);
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: center;
}

.hover-translate-animation:hover {
    transform: translateX(2%) translateY(2%);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.reveal {
    position: relative;
    transform: translateY(80px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}