@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,800;1,100;1,400;1,600;1,800&display=swap');

:root {
    --primary-light-color: #f1e9e2;
    --secondary-light-color: rgb(139,133,126);
  
    --primary-dark-color: #2e2e2d;
    --secondary-dark-color: rgb(106,72,37);
    --third-dark-color: #f0f0f0;
  }

  * {
      border: 1px solid transparent;
      
  }



body {
    margin: 1.5em;
    font-family: "Montserrat", "Helvetica Neue", Sans-serif;
    color: var(--primary-dark-color);
    background-color: var(--primary-light-color);
    
}

a {
    text-decoration: none;
    font-size: 1.3rem;
    
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    background: var(--primary-dark-color);
    height: 100vh;
    width: 60%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform 0.7s ease-in-out;

    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 8em;

        a {
            color: var(--primary-dark-color);
            padding: .75em;
            display: block;
            width: 100%;
            text-align: center;

            &:hover {
                //background-color: var(--third-dark-color);
            }
        }
    }

    .close {
        float: right;
        margin: 2em;
        width: 2em;
        margin-top: 1.5em;
        margin-right: 2em;
        cursor: pointer;
        stroke: none;

        path {
            fill: var(--primary-light-color);
        }
        
    }

}

header {
    display: flex;
    justify-content: space-between;

    svg {
        width: 2em;
        margin-top: -.6em;
        cursor: pointer;

        stroke: none;
        path {
            fill: var(--primary-light-color);
        }
    }

    
}

h1 {
    font-size: 2.4rem;
    margin-top: 2em;
    line-height: 3.3rem;
}

.logo {
    color: var(--primary-light-color);
    
}

.hero-section {
    color: var(--primary-light-color);
    height: 90vh;
    margin-top: 8em;

    .down-arrow {
        stroke: var(--primary-dark-color);
        position: absolute;
        bottom: 2em;
        right: 2em;
        width: 2em;

        path {
            fill: var(--primary-light-color);
        }
    }
}


.hero-name {
    text-transform: uppercase;
    font-weight: normal;
    span {
        margin-right: -0.3em;
    }
    
}

.hero-desc {
    font-weight: normal;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/coder.jpeg);
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    animation: introload 2s forwards;
}

.subhead {
    font-size: 1.2rem;
    max-width: 450px;
}

.more-info {

    img {
        width: 100%;
        object-fit: cover;
        height: 15em;
    }

    .title {
        font-weight: bold;
        font-size: 1.25rem;
    }
    .desc {
        line-height: 1.5rem;
    }
}

.open-nav {
    transform: translateX(0);
}


/*********************************** Media query for tablet devices ***********************************/
@media only screen and (min-width: 680px) {

    body {
        margin: 1.5em 5em;
    }
    
    .more-info {
        img {
            margin-bottom: 3rem;
        }

        .desc {
            margin-top: -0.5em;
        }
    }
    
}

/*********************************** Media query for desktop devices ***********************************/
@media only screen and (min-width: 900px) {

    .main-container {
        width: 85vw;
        margin: 0 auto;
        
    }

    .menu {
        display: none;
    } 
    
    nav {
        transform: translateX(0);
        position: relative;
        right: 6em;
        display: block;
        width: auto;
        height: auto;
        background: none;

        .close {
            display: none;
        }

        ul {
            display: flex;
            margin: 0 auto;

            a {
                color: var(--primary-light-color);
                padding: .5em 1.5em;
                margin: 0 auto;
                font-size: .9rem;

                &:hover {
                    background:none;
                    //text-decoration: underline;
                }
            }
        }
    }

   .hero-section {
       color: var(--primary-dark-color);
       height: auto;
       width: 60vw;
       margin-bottom: 62em;
   }

    .hero-img {
        left: unset;
        right: 0;
        width: 50%;
        height: 65em;
    }

    .logo {
        color: var(--primary-dark-color);
    }

    .feature {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 4em;
        margin-bottom: 8em;

        img {
            width: 25em;

            &:hover {
                transform: translateX(3%) translateY(3%);
                transition: transform 0.5s ease-in-out;
            }

        }

        .content {
            text-align: right;
            width: 25em;
            
        }
    }

    .feature.reverse {
        grid-template-areas: "left right";

        img {
            grid-area: left;
            
        }

        .content {
            text-align: left;
            width: 25em;
            justify-self: left;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .main-container {
        width: 70vw;
        margin: 0 auto;
        
    }

    .feature {
        gap: 0;
    }

}

/******************************** Animations ********************************/

@keyframes introload {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.down-arrow {
    animation: bounce 1s infinite;
}

.logo {
    display: inline-block;
    
    animation: pulse 3s infinite;
}

.hero-text {
    animation: fadeInDownBig 2s;

}


.hero-name:hover {
    animation: headShake 2s;
    cursor: pointer;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--primary-light-color);
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-light-color);
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: center;
}
